Repository ProgramandoComAndre/notes-api-tutorial: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx jest

.lintstagedrc.json:

{
    "*.js": ["npx eslint --fix", "git add"],
    "*.test.js": ["npx jest"]
}

test: lint-staged
  main.js
Due: npx eslint --fix

test: unit test pre-commit
  unit.test.js
Due: npx eslint --fix, npx jest

eslint config
  .eslintrc.json
Due: none

final test
  unit.test.js
Due: npx eslint --fix, npx jest

deleted test files
  main.js
  unit.test.js
Due: npx eslint --fix, npx jest

readme: created POST /users/register pseudocode
  README.md
Due: none
